*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #252525;
  color: #fff;
  text-align: center;
  margin: 0;
}

body > main {
  padding: 1em;
}

main > section {
  padding: 1em;
}

main > form {
  position: sticky;
  top: 1em;
}
form * {
  height: 35px;
  font-size: 110%;
  box-shadow: 0 0 6px 0px #252525;
  text-transform: capitalize;
  padding: 0 1em;
}

form input {
  margin-right: 2em;
}

main > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 120px);
}

article {
  background-color: #fff;
  color: #252525;
  margin: 1em auto 5em auto;
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  max-width: 90%;
  border: 1px solid #fff;
  box-shadow: 1px 1px 5px 1px #1b1b1b;
}

article > picture > img {
  width: 100%;
}
details summary {
  cursor: pointer;
}
section.summary {
  padding: 1em;
}

section.summary h1 {
  font-size: 1.3em;
}
